body{
	background: rgb(0,255,255);
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



img{
	max-width: 75%;
	height: 80%;
	margin: auto;
}



ul{
	list-style-type: none;
}

li{
	background: lime ;
	padding: 20px;
	margin: 10px 0;

}

li:hover{
	background: pink;
}