body{

	background: rgb(0,255,255);
	text-align: center;
	display : flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container{
	margin-top: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.heading{
	position: absolute;
	top: 20px;
}

h1{
	color: rgb(220,20,60);
	font-size:  70px ;
}

img{
	width: 400px;
	height: 350px;
}

.card{
	width: 400px;
	height: 350px;
	margin : 20px;
}

.intro{
	height: 50px;
	width: 400px;
	position: relative;
	bottom: 65px;
	background: transparent;
	overflow: : hidden;

}
h2{
	color: rgb(173,255,47);
}


p{
	color: #FFFFFF;
	visibility: hidden;
	opacity:0;
}

.card:hover .intro{
	height: 100px;
	bottom: 125px;
	background: #000000;
}


.card:hover p{
	opacity: 1;
	visibility: visible;
}





